
CMakeCache.txt
cmake_intall.cmake
CMakeFiles/
cmake_install.cmake
Makefile
lib/
bin/

runSetting
runMenu
runInstructions
runDatabase
runAllTests
run 
test
runMovieRecSystem
runSearchMenuOption
runSearchTest

